.project
.classpath
/.gradle/
/.settings/
/build/
/bin/
/lib/
/libs/
/flowsum/output*
/*/.gradle/
/*/build/
/*/bin/
/*/.settings/
/*/.project
/*/.classpath
**/.gradle/
**/build/
**/bin/
**/.settings/
**/.project
**/.classpath
**/MANIFEST.MF
